/* Coolors Exported Palette - coolors.co/ffb300-fec84e-f7dca9-faebd7-fff8e7 Paleta1*/

/* HSL */
$color1: hsla(42%, 100%, 50%, 1);
$color2: hsla(42%, 99%, 65%, 1);
$color3: hsla(39%, 83%, 82%, 1);
$color4: hsla(34%, 78%, 91%, 1);
$color5: hsla(43%, 100%, 95%, 1);

/* RGB */
$color1: rgba(255, 179, 0, 1);
$color2: rgba(254, 200, 78, 1);
$color3: rgba(247, 220, 169, 1);
$color4: rgba(250, 235, 215, 1);
$color5: rgba(255, 248, 231, 1);

/* Coolors Exported Palette - coolors.co/726d66-ffffff-57afa1-44372c-fcb928 Paleta2*/

/* HSL */
$color6: hsla(35%, 6%, 42%, 1);
$color7: hsla(0%, 0%, 100%, 1);
$color8: hsla(170%, 35%, 51%, 1);
$color9: hsla(28%, 21%, 22%, 1);
$color10: hsla(41%, 97%, 57%, 1);

/* RGB */
$color6: rgba(114, 109, 102, 1);
$color7: rgba(255, 255, 255, 1);
$color8: rgba(87, 175, 161, 1);
$color9: rgba(68, 55, 44, 1);
$color10: rgba(252, 185, 40, 1);
